<tr>
<%- all_dest_line.each do |item| -%>
<%- if item -%>
<td class="dest">
  <%- if !item.person.name.empty? -%>
  <label>
    <%=h item.person.name %>
    <input type="checkbox"<%= item.checked ? 'checked="checked"' : "" %> value="<%= item.person.id %>" />c
  </label>
  <%- end -%>
</td>
<%- else -%>
<td></td>
<%- end -%>
<%- end -%>
</tr>
