<div class="memo">
  <div class="print">
    <a href="javascript:void(0);">印刷</a>
  </div>
  <div class="time">
    <%=date view_item.ctime %>
    <input type="button" value="保存" style="display: none;"/>
  </div>
  <textarea rows="4" style="background-color: <%=h view_item.color %>;"><%=h view_item.content %></textarea>
  <div class="footer">
    ababa
  </div>
</div>
