<tr id="location_<%=h item.id %>" style="background-color: <%=h item.color %>">
  <td class="name">
    <span class="name"><%=h item.name %></span>
  </td>
  <td class="list">
<%= user_list item %>
  </td>
</tr>
