<div id="locations" class="edit">
<%= render :partial => 'edit', :collection => @list %>
</div>
<%= sortable_element 'locations', :tag => 'div', :url => {:controller => 'locations', :action => 'sort'} %>
