<div id="locations">
<table>
<tbody id="locations-table">
<%= render :partial => 'item', :collection => @list %>
</tbody>
</table>
<%= sortable_element 'locations-table', :tag => 'tr', :url => {:controller => 'locations', :action => 'sort'} %>
</div>
